VERSION='0.8.9.0'
ARCHIVE_NAME=libmodplug-${VERSION}.tar.gz
DOWNLOAD_URL="https://sourceforge.net/projects/modplug-xmms/files/libmodplug/${VERSION}/${ARCHIVE_NAME}/download"

#This is basically an autogen.sh script.
#touch Makefile.am configure.ac
#{
#	echo "running libtoolize" >&2
#	libtoolize --force --copy --automake
#} && {
#	echo "running aclocal" >&2
#	aclocal
#} && {
#	echo "running autoheader [ignore the warnings]" >&2
#	autoheader
#} && {
#	echo "running automake" >&2
#	automake --force-missing --foreign -a -c
#} && {
#	echo "running autoconf" >&2
#	autoconf
#} &&
#	echo "autogen complete" >&2 ||
#	echo "ERROR: autogen.sh failed, autogen is incomplete" >&2

# load_abc is producing errors about random() and srandom() while cross compiling
# we will exclude support by clearing the file so we do not have to do too much hacking.
#echo "//This file has bean cleared by edepbuild. Modify wii-libmodplug.config to remove the clearing and update to enable abc file support." > src/load_abc.cpp