ARCHIVE_NAME=boost_1_80_0.tar.bz2
DOWNLOAD_URL=https://boostorg.jfrog.io/artifactory/main/release/1.80.0/source/${ARCHIVE_NAME}

WITHOUT_LIBRARIES="atomic,chrono,container,context,coroutine,date_time,exception,filesystem,graph,graph_parallel,iostreams,locale,log,math,mpi,program_options,python,random,serialization,signals,test,thread,timer,wave"

prepare()
{
	chmod +x bootstrap.sh
	./bootstrap.sh --prefix=$ECHO_LIB_DIR --without-libraries=$WITHOUT_LIBRARIES
	cp $ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/wii-boost.jam tools/build/src/user-config.jam

	#time for some more hacking fun.
	sed -i "s/\s*case \*\s*: option = -pthread ; libs = rt ;/            case \* : #Removed threading for wii build./g" tools/build/src/tools/gcc.jam
}

build()
{
	./b2 -q \
		target-os=linux \
		toolset=gcc-wii \
		link=static \
		threading=single \
		cxxstd=14 \
		address-model=32 \
		--layout=system \
		--prefix=$ECHO_LIB_DIR \
		--with-system \
		--with-regex \
		install 2>&1
}

install()
{
	echo "Installed in build step";
}
