ARCHIVE_NAME=2.89.tar.gz
DOWNLOAD_URL="https://github.com/bulletphysics/bullet3/archive/${ARCHIVE_NAME}"

USE_CMAKE=1
CMAKE_OPTIONS="-DBUILD_EXTRAS=OFF -DBUILD_ENET=OFF -DBUILD_CLSOCKET=OFF -DBUILD_EGL=OFF -DUSE_GLUT=OFF -DBUILD_CPU_DEMOS=OFF -DBUILD_OPENGL3_DEMOS=OFF -DBUILD_BULLET3=OFF -DUSE_GRAPHICAL_BENCHMARK=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_BULLET2_DEMOS=OFF -DBUILD_UNIT_TESTS=OFF -DINSTALL_LIBS=ON -DUSE_DOUBLE_PRECISION=ON -DBUILD_SHARED_LIBS=OFF"
