source $ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/$ECHO_PLATFORM.config

ARCHIVE_NAME=zlib-1.2.12.tar.gz
DOWNLOAD_URL="https://www.zlib.net/${ARCHIVE_NAME}"
USE_CMAKE=1

post_install()
{
	mkdir -p "${ECHO_LIB_DIR}/lib/pkgconfig"
	echo "Patching zlib.pc to point to zlibstatic instead of z"
	sed -i "s/lz/lzlibstatic/g" ${ECHO_LIB_DIR}/share/pkgconfig/zlib.pc
	mv "${ECHO_LIB_DIR}/share/pkgconfig/zlib.pc" "${ECHO_LIB_DIR}/lib/pkgconfig"
}
