USE_CMAKE=1
ARCHIVE_NAME="capnproto-c++-0.7.0.tar.gz"
DOWNLOAD_URL="https://capnproto.org/${ARCHIVE_NAME}"
CAPNP="${ECHO_INSTALL_DIR}/linux/bin/capnp"
CMAKE_OPTIONS="-DBUILD_TESTING=OFF -DEXTERNAL_CAPNP=ON"

patch_prepare()
{
	sed -i "s/add_compile_options(-pthread)/#add_compile_options(-pthread)/g" CMakeLists.txt
	echo "Replacing capnp build configs"
	cp -R ${ECHO_DEP_SCRIPTS_DIR}/${ECHO_PLATFORM}/capnp/* .
}
