source /etc/profile.d/devkit-env.sh
export PATH=${DEVKITPPC}/bin:$PATH
export MACHDEP=" -DGEKKO -mrvl -mcpu=750 -meabi -mhard-float"
export CC=powerpc-eabi-gcc
export CXX=powerpc-eabi-g++
export CFLAGS="-g -O2 -Wall $MACHDEP"
export LDFLAGS="-g $MACHDEP"
export CPPFLAGS="$CFLAGS -std=c++17"
export CXXFLAGS="$CPPFLAGS -std=c++17"
export SYSROOT="$DEVKITPPC/powerpc-eabi/"
export TOOL_CHAIN_PREFIX=powerpc-eabi
export CONFIGURE_OPTIONS="--host=$TOOL_CHAIN_PREFIX"

# The toolchain file is in different places depending on whether you're building dependencies or a project from an installation
export ECHO_PLATFORM_TOOLCHAIN_LOCATION=${ECHO_ENGINE_INSTALL_DIR}/wii/config
if ! [ "${ECHO_DEP_SCRIPTS_DIR}" = "" ] ; then
	export ECHO_PLATFORM_TOOLCHAIN_LOCATION=${ECHO_DEP_SCRIPTS_DIR}/wii
fi

export CMAKE_OPTIONS_PLATFORM="-DCMAKE_TOOLCHAIN_FILE=$ECHO_PLATFORM_TOOLCHAIN_LOCATION/wii-toolchain.cmake"
