# I've disabled building zlib, libpng, freetype and harfbuzz because after linking with gtk it pulls in libpango which references a different version of
freetype and harfbuzz. Unless we want to further build dependencies of GTK this is the quickest fix.

export BUILD_ORDER="tinyxml2 tmxparser boost bullet Box2D glew libmodplug libogg libvorbis libjpeg-turbo libressl utfcpp websocketpp efsw doctest capnp"
