USE_CMAKE=1
CMAKE_COMMAND="-DBUILD_EXTRAS=ON -DUSE_GLUT=OFF -DBUILD_CPU_DEMOS=OFF -DBUILD_OPENGL3_DEMOS=OFF -DBUILD_BULLET2_DEMOS=OFF -DBUILD_UNIT_TESTS=OFF -DINSTALL_LIBS=ON -DUSE_DOUBLE_PRECISION=ON -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_RPATH=\$ORIGIN/../lib"
ARCHIVE_NAME=2.89.tar.gz
DOWNLOAD_URL="https://github.com/bulletphysics/bullet3/archive/${ARCHIVE_NAME}"

