# NOTE: This is skipped in BUILD_ORDER defined in linux/build.config to avoid conflicts with system dependencies. This is left here as a reference or for anyone
# that wants to attempt building this too.

ARCHIVE_NAME=zlib-1.2.12.tar.gz
DOWNLOAD_URL="https://www.zlib.net/${ARCHIVE_NAME}"
USE_CMAKE=1

post_install()
{
	mv "${ECHO_LIB_DIR}/share/pkgconfig/zlib.pc" "${ECHO_LIB_DIR}/lib/pkgconfig"
}
