# NOTE: This is skipped in BUILD_ORDER defined in linux/build.config to avoid conflicts with system dependencies. This is left here as a reference or for anyone
# that wants to attempt building this too.

ARCHIVE_NAME=libpng-1.6.37.tar.gz
DOWNLOAD_URL="https://ixpeering.dl.sourceforge.net/project/libpng/libpng16/1.6.37/${ARCHIVE_NAME}"
USE_CMAKE=1
CMAKE_OPTIONS="-DPNG_BUILD_ZLIB=ON -DZLIB_INCLUDE_DIR=${ECHO_LIB_DIR}/include -DZLIB_LIBRARY=${ECHO_LIB_DIR}/lib/libz.so -DZLIB_LIBRARY_DIR=${ECHO_LIB_DIR}/lib"
CONFIGURE_OPTIONS="--with-sysroot=${ECHO_LIB_DIR}"
