VERSION='2.1.0'
ARCHIVE_NAME=glew-${VERSION}.tgz
DOWNLOAD_URL="https://sourceforge.net/projects/glew/files/glew/${VERSION}/glew-${VERSION}.tgz/download"
USE_CMAKE=1
export GLEW_DEST=$ECHO_LIB_DIR
CMAKE_DIRECTORY=cmake

prepareoff()
{
	cat <<-EOF > glew.pc.in
		prefix=${ECHO_LIB_DIR}
		exec_prefix=\${prefix}
		libdir=\${prefix}/lib
		includedir=\${prefix}/include

		Name: glew
		Description: The OpenGL Extension Wrangler library
		Version: ${pkgver}
		Cflags: -I\${includedir} -I/usr/include/libdrm 
		Libs: -L\${libdir} -lGLEW -lGLU -lGL
		Requires: 
	EOF
	sed -i -e 's/lib64/lib/g' config/Makefile.linux
	sed -i -e 's/lib64/lib/g' config/Makefile.linux-clang 
}

