source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/linux.config"
ARCHIVE_NAME=boost_1_81_0.tar.bz2
DOWNLOAD_URL=https://boostorg.jfrog.io/artifactory/main/release/1.81.0/source/${ARCHIVE_NAME}

prepare()
{
	# Manually apply the patch from https://github.com/boostorg/phoenix/pull/112/commits/cc9bc2387fe19d6cb130460defe52ee8ecefe968
	# See conversation: https://github.com/boostorg/phoenix/issues/111
	# Keep in mind this comment https://github.com/boostorg/phoenix/issues/111#issuecomment-1468431643
	sed -i 's/auto uarg##N/const auto uarg##N/g' boost/phoenix/stl/tuple.hpp
	chmod +x bootstrap.sh
	./bootstrap.sh --prefix=$ECHO_LIB_DIR --without-libraries=python,mpi
}

build()
{
	./b2 -q \
			target-os=linux \
			toolset=gcc \
			link=shared \
			threading=multi \
			cxxstd=14 \
			--layout=system \
			--prefix=$ECHO_LIB_DIR \
			--with-atomic \
			--with-date_time \
			--with-filesystem \
			--with-chrono \
			--with-random \
			--with-regex \
			--with-system \
			--with-thread \
			--with-timer \
			install 2>&1
}

install()
{
	echo "No install step"
}
