export CFLAGS=""
export LDFLAGS=""
export CONFIGURE="--disable-dependency-tracking --disable-shared --enable-static"
export CPPFLAGS=""
export USE_GLUT=OFF
export BUILD_DEMOS=OFF
echo ========= IF THE COMPILER CRASHES ==========
echo If you receive an error while building using gcc 4.8 it is due to
echo a bug in the compiler caused while optimising. There is a work
echo around though. See this issue:
echo  https://github.com/bulletphysics/bullet3/issues/39
echo Someone has posted patched versions of the files here:
echo  http://bulletphysics.org/Bullet/phpBB3/viewtopic.php?t=9636
echo ========= IF THE COMPILER CRASHES ==========
chmod +x autogen.sh
./autogen.sh
