#Added I and L options so libpng can find zlib. It doesn't seem to work using --zlib-prefix=

#make sure that pthread.h wrapper is added for the LWP library.

cp -f $ECHO_ENGINE_DEPENDENCIES_DIR/wii-pthread.h $ECHO_LIB_DIR/include/pthread.h

export CFLAGS="-I$ECHO_LIB_DIR/include"
export LDFLAGS="-L$ECHO_LIB_DIR/lib"
export CONFIGURE="--disable-dependency-tracking --disable-shared --enable-static"
export CPPFLAGS="-I$ECHO_LIB_DIR/include"
chmod +x autogen.sh
./autogen.sh
