#zlib doesn't use auto tools but does use a makefile for mingw in the win32 folder.

NO_CONFIGURE=1
export BINARY_PATH=$ECHO_LIB_DIR/bin
export INCLUDE_PATH=$ECHO_LIB_DIR/include
export LIBRARY_PATH=$ECHO_LIB_DIR/lib
MAKE_FILE=-fwin32/Makefile.gcc

#The zlib.def file was causing the build to fail, so I've just removed the use of it from the Makefile...
#This is a bit of a mega hack (just like most sed uses in these scripts) but I don't want to waste time.
sed -i 's/win32\/zlib.def / /g' win32/Makefile.gcc

#This just causes the dll and dll library to be copied over instead of just the static, it means you can
#choose to use either the shared or static library.
sed -i 's/SHARED_MODE=0/SHARED_MODE=1/g' win32/Makefile.gcc
