ARCHIVE_NAME=libpng-1.6.37.tar.gz
DOWNLOAD_URL="https://ixpeering.dl.sourceforge.net/project/libpng/libpng16/1.6.37/${ARCHIVE_NAME}"
USE_CMAKE=1
CMAKE_OPTIONS="-DPNG_BUILD_ZLIB=ON -DZLIB_INCLUDE_DIR=${ECHO_LIB_DIR}/include -DZLIB_LIBRARY=${ECHO_LIB_DIR}/lib/libzlib.dll.a -DZLIB_LIBRARY_DIR=${ECHO_LIB_DIR}/lib"

patch_install()
{
	echo "Ensuring \"${ECHO_LIB_DIR}/lib/pkgconfig\" exists"
	mkdir -p "${ECHO_LIB_DIR}/lib/pkgconfig"
}
