ARCHIVE_NAME=libogg-1.3.4.tar.gz
DOWNLOAD_URL="http://downloads.xiph.org/releases/ogg/${ARCHIVE_NAME}"

prepare()
{
	autoreconf -ivf
	aclocal
	automake
	chmod +x ltmain.sh
	./ltmain.sh

	chmod +x configure
	./configure --prefix=${ECHO_LIB_DIR} $CONFIGURE

	#libtool is trying to use "lib" to build libraries. We need to prefix it.
	sed -i "s/old_archive_cmds=\"lib -OUT:/old_archive_cmds=\"$TOOL_CHAIN_PREFIX-ar rcs /g" libtool
}

