source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/windowscross.config"

USE_CMAKE=1
ARCHIVE_NAME="4.5.2.tar.gz"
DOWNLOAD_URL="https://github.com/opencv/opencv/archive/${ARCHIVE_NAME}"

CMAKE_OPTIONS="-DBUILD_IPP_IW=OFF -DBUILD_ITT=OFF -DBUILD_JAVA=OFF -DBUILD_PERF_TESTS=OFF -DBUILD_PROTOBUF=OFF -DBUILD_TESTS=OFF -DENABLE_CXX11=ON -DENABLE_FAST_MATH=ON -DWITH_IPP=OFF -DWITH_ITT=OFF -DWITH_OPENCL=OFF -DWITH_PROTOBUF=OFF -DWITH_QT=OFF -DWITH_GSTREAMER=OFF -DWITH_FFMPEG=OFF"
