#zlib does not use auto tools but does use a makefile for mingw in the win32 folder.
source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/windowscross.config"

ARCHIVE_NAME=zlib-1.2.12.tar.gz
DOWNLOAD_URL="https://www.zlib.net/${ARCHIVE_NAME}"
USE_CMAKE=1

post_install()
{
	mkdir -p "${ECHO_LIB_DIR}/lib/pkgconfig"
	mv "${ECHO_LIB_DIR}/share/pkgconfig/zlib.pc" "${ECHO_LIB_DIR}/lib/pkgconfig"
	sed -i 's/-lz/-lzlib/g' ${ECHO_LIB_DIR}/lib/pkgconfig/zlib.pc
}
