source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/windowscross.config"
ARCHIVE_NAME="v1.1.0.tar.gz"
DOWNLOAD_URL="https://github.com/Tencent/rapidjson/archive/${ARCHIVE_NAME}"
USE_CMAKE=1
export CXXFLAGS="${CXXFLAGS} -w"
CMAKE_OPTIONS="-DRAPIDJSON_BUILD_EXAMPLES=OFF -DRAPIDJSON_BUILD_TESTS=OFF -DCMAKE_CXX_FLAGS=-Wno-error=implicit-fallthrough="
