ARCHIVE_NAME=boost_1_69_0.tar.gz
DOWNLOAD_URL=https://downloads.sourceforge.net/project/boost/boost/1.69.0/${ARCHIVE_NAME}

prepare()
{
	cp "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/windowscross-boost.jam" tools/build/src/user-config.jam
	chmod +x bootstrap.sh
	./bootstrap.sh --prefix=$ECHO_LIB_DIR --without-libraries=python,mpi
}

build()
{
	./bjam -q \
			target-os=windows \
			toolset=gcc-mingw \
			link=shared \
			threading=multi \
			cxxstd=14 \
			address-model=64 \
			variant=release \
			--layout=system \
			--prefix=$ECHO_LIB_DIR \
			--with-atomic \
			--with-date_time \
			--with-filesystem \
			--with-chrono \
			--with-random \
			--with-regex \
			--with-system \
			--with-thread \
			--with-timer \
			install 2>&1
}

install()
{
	echo "No install step"
}
