ARCHIVE_NAME=libvorbis-1.3.6.tar.gz
DOWNLOAD_URL="http://downloads.xiph.org/releases/vorbis/${ARCHIVE_NAME}"

export CFLAGS="-I${ECHO_LIB_DIR}/include"

prepare()
{
	autoreconf -ivf
	chmod +x autogen.sh
	./autogen.sh

	chmod +x configure
	./configure --prefix=${ECHO_LIB_DIR} $CONFIGURE

	#libtool is trying to use "lib" to build libraries. We need to prefix it.
	sed -i "s/old_archive_cmds=\"lib -OUT:/old_archive_cmds=\"$TOOL_CHAIN_PREFIX-ar rcs /g" libtool
}

