USE_CMAKE=1
CMAKE_OPTIONS="-Dprotobuf_BUILD_TESTS=OFF -DZLIB_LIBRARY=${ECHO_LIB_DIR}/lib/libzlib.dll.a -DZLIB_INCLUDE_DIR=${ECHO_LIB_DIR}/include"
CMAKE_DIRECTORY="../cmake"

VERSION="3.9.2"
ARCHIVE_NAME=protobuf-cpp-${VERSION}.tar.gz
DOWNLOAD_URL="https://github.com/protocolbuffers/protobuf/releases/download/v${VERSION}/${ARCHIVE_NAME}"
