source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/windowscross.config"

export CFLAGS="-I$ECHO_LIB_DIR/include"
export CPPFLAGS="$CFLAGS"
export LDFLAGS=""
export CONFIGURE="--disable-dependency-tracking --disable-shared --enable-static --host=$TOOL_CHAIN_PREFIX --target=$TOOL_CHAIN_PREFIX --build=x86_64-linux --without-harfbuzz"

#We will manually configure.
NO_CONFIGURE=1
chmod +x configure
./configure --prefix=$ECHO_LIB_DIR $CONFIGURE

#libtool is trying to use "lib" to build libraries. We need to prefix it.
sed -i "s/old_archive_cmds=\"lib -OUT:/old_archive_cmds=\"$TOOL_CHAIN_PREFIX-ar rcs /g" builds/unix/libtool
