source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android.config"
#We will take over the command processing
ONLY_SETUP=1
CMAKE_COMMAND="-DBUILD_SHARED_LIBS:BOOL=OFF -DBUILD_STATIC_LIBS:BOOL=ON -DCMAKE_INSTALL_LIBDIR=lib"

cmake . $CMAKE_COMMAND -DCMAKE_INSTALL_PREFIX="$ECHO_LIB_DIR" -DCMAKE_INSTALL_RPATH="$ECHO_LIB_DIR" -DHOST=$TOOL_CHAIN_PREFIX -DCMAKE_TOOLCHAIN_FILE="$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android-toolchain.cmake"

NO_CONFIGURE=1
NO_MAKE=1

make tinyxml2_static
make install
