source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android.config"

mkdir -p build
CMAKE_CHANGE_DIRECTORY="build"
CMAKE_DIRECTORY="../"

export CXXFLAGS="-include ctype.h"

#We will take over the command processing
ONLY_SETUP=1
CMAKE_COMMAND="-DTINYXML2_INCLUDE_DIR=$ECHO_LIB_DIR/include -DTINYXML2_LIBRARIES=$ECHO_LIB_DIR/lib/libtinyxml2.a -DZLIB_LIBRARY=$SYSROOT/usr/lib/zlib.so -DZLIB_INCLUDE_DIR=$SYSROOT/usr/include"

#CMake hacking. Unfortunately the CMakeLists.txt file does not have an option to disable building the test. We do not want to build
#The test on android. Remove the 6 lines starting at the match with the "add_executable(test..."
sed -i '/add_executable(test test\/test\.cpp)/,+6d' CMakeLists.txt

cd $CMAKE_CHANGE_DIRECTORY

cmake $CMAKE_DIRECTORY $CMAKE_COMMAND -DCMAKE_INSTALL_PREFIX=$ECHO_LIB_DIR -DCMAKE_INSTALL_RPATH=$ECHO_LIB_DIR -DHOST=$TOOL_CHAIN_PREFIX -DCMAKE_TOOLCHAIN_FILE="$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android-toolchain.cmake"

make tmxparser_static
make install
