source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android.config"
USE_CMAKE_NOT_CONFIGURE=1
CMAKE_COMMAND="-DBOX2D_INSTALL=ON -DBOX2D_BUILD_SHARED=ON -DBOX2D_BUILD_STATIC=ON -DBOX2D_BUILD_EXAMPLES=OFF -DHOST=$TOOL_CHAIN_PREFIX -DCMAKE_TOOLCHAIN_FILE=$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android-toolchain.cmake"
CMAKE_CHANGE_DIRECTORY="Box2D/Build"
CMAKE_DIRECTORY="../"
