source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android.config"
export CFLAGS="$CFLAGS -Os -fomit-frame-pointer"
export CONFIGURE="$CONFIGURE --disable-tests --with-sysroot=$SYSROOT --with-protoc=protoc"
export CXXFLAGS="$CXXFLAGS -Os -fomit-frame-pointer"
NO_CONFIGURE=1
chmod +x autogen.sh
./autogen.sh
./configure --prefix=$ECHO_LIB_DIR $CONFIGURE
sed -i 's/#define HAVE_HASH_MAP/\/\/#define HAVE_HASH_MAP/g' config.h
sed -i 's/#define HAVE_HASH_SET/\/\/#define HAVE_HASH_SET/g' config.h