source "$ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android.config"
#Skip boost as we will build using bjam here.
ONLY_SETUP=1

#LIBRARIES=--with-libraries=date_time,filesystem,chrono,regex,system,thread

chmod +x bootstrap.sh
./bootstrap.sh --prefix=$ECHO_LIB_DIR --without-libraries=python,mpi
cp $ECHO_DEP_SCRIPTS_DIR/$ECHO_PLATFORM/android-boost.jam tools/build/src/user-config.jam
./bjam -q \
         target-os=linux \
         toolset=gcc-android \
         link=static \
         threading=multi \
         --layout=system \
         --prefix=$ECHO_LIB_DIR \
         --with-date_time \
         --with-filesystem \
         --with-chrono \
         --with-random \
         --with-regex \
         --with-system \
         --with-thread \
         --with-timer \
         $LIBRARIES \
         install 2>&1
#Boost installs to 