export TOOL_CHAIN_PREFIX=arm-linux-androideabi

export CC=$TOOL_CHAIN_PREFIX-gcc
export GCC=$TOOL_CHAIN_PREFIX-gcc
export GXX=$TOOL_CHAIN_PREFIX-g++
export CXX=$TOOL_CHAIN_PREFIX-g++
export LD=$TOOL_CHAIN_PREFIX-g++
export CXXCPP=$TOOL_CHAIN_PREFIX-cpp
export RANLIB=$TOOL_CHAIN_PREFIX-ranlib
export AR=$TOOL_CHAIN_PREFIX-ar
export AS=$TOOL_CHAIN_PREFIX-as

#Try and find the Android NDK
# NOTE: This section is hard coded for android-9 (Android 2.3.3) but will change when T533 is implemented.
# NOTE2: The variable ECHO_ANDROID_NDK_TOOLCHAIN was replaced with ECHO_ANDROID_NDK_TOOLCHAINS recently.
if [ "$ECHO_ANDROID_NDK_TOOLCHAINS" != "" ] ; then
	CURRENT_TOOLCHAIN_DIRECTORY=$ECHO_ANDROID_NDK_TOOLCHAINS/android-9
	if [ -d "$CURRENT_TOOLCHAIN_DIRECTORY/arm-linux-androideabi-4.9" ] ; then
		CURRENT_TOOLCHAIN_DIRECTORY=$CURRENT_TOOLCHAIN_DIRECTORY/arm-linux-androideabi-4.9
	fi
	echo "Using tool chain: $CURRENT_TOOLCHAIN_DIRECTORY"
else
	CURRENT_TOOLCHAIN_DIRECTORY="/opt/android/android-9/arm-linux-androideabi-4.9"
	if [ ! -d "$CURRENT_TOOLCHAIN_DIRECTORY" ] ; then
		echo "Unable to find the standalone toolchain. Define the base location of the toolchains with ECHO_ANDROID_NDK_TOOLCHAINS and try again."
		exit 1;
	else
		echo "ECHO_ANDROID_NDK_TOOLCHAINS is not defined but I found $CURRENT_TOOLCHAIN_DIRECTORY"
	fi
fi

export PATH=$CURRENT_TOOLCHAIN_DIRECTORY/bin:$PATH
export CFLAGS="-march=armv7-a -mfloat-abi=softfp -mfpu=vfpv3-d16"
export LDFLAGS="-march=armv7-a -Wl,--fix-cortex-a8"
export CONFIGURE="--disable-dependency-tracking --disable-shared --enable-static --host=$TOOL_CHAIN_PREFIX --target=$TOOL_CHAIN_PREFIX"
export CPPFLAGS="$CFLAGS -frtti -fexceptions"
export CXXFLAGS=$CPPFLAGS
export SYSROOT="$CURRENT_TOOLCHAIN_DIRECTORY/sysroot"
