ECHO_VAR_ANDROID_INCLUDE_DIRS=-Iinclude -I"${ECHO_ENGINE_INSTALL_DIR}/include" -I"${ECHO_ENGINE_INSTALL_DIR}/include/generated" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/android/include/freetype2" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/android/include"

ECHO_VAR_ANDROID_PREPROCESSOR=-DGL_GLEXT_PROTOTYPES -DECHO_PLATFORM_ANDROID -DECHO_GLES_SUPPORT
ECHO_VAR_ANDROID_ADDITIONAL_INCLUDE_OPTIONS=

ECHO_VAR_ANDROID_C_COMPILE_OPTIONS=-O2 ${ECHO_VAR_ANDROID_INCLUDE_DIRS} ${ECHO_VAR_ANDROID_PREPROCESSOR} ${ECHO_VAR_ANDROID_ADDITIONAL_INCLUDE_OPTIONS}
ECHO_VAR_ANDROID_CPP_COMPILE_OPTIONS=${ECHO_VAR_ANDROID_C_COMPILE_OPTIONS} -frtti -fexceptions

ECHO_VAR_ANDROID_LIB_DIRS=-L"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/android/lib" -L"${ECHO_ENGINE_INSTALL_DIR}/dist/${CND_CONF}/${CND_PLATFORM}"

ECHO_VAR_ANDROID_LIBS=
ECHO_VAR_ANDROID_ADDITIONAL_LIB_OPTIONS=

ECHO_VAR_ANDROID_LIB_OPTIONS=${ECHO_VAR_ANDROID_LIB_DIRS} ${ECHO_VAR_ANDROID_ADDITIONAL_LIB_OPTIONS}

# These are vairables for the make file

ECHO_VAR_ANDROID_MK_LOCAL_C_INCLUDES="$(LOCAL_PATH)/../../../include" "$(ECHO_ENGINE_INSTALL_DIR)/include" "$(ECHO_ENGINE_DEPENDENCIES_DIR)/opt/android/include" "$(ECHO_ENGINE_DEPENDENCIES_DIR)/opt/android/include/freetype2"

ECHO_VAR_ANDROID_MK_LOCAL_SRC_FILES=$(ECHO_ENGINE_INSTALL_DIR)/src/Platforms/Android/JNIInterface.cpp

ECHO_VAR_ANDROID_MK_LOCAL_CPP_FEATURES=exceptions rtti
ECHO_VAR_ANDROID_MK_LOCAL_CFLAGS=$(ECHO_VAR_ANDROID_C_COMPILE_OPTIONS)
ECHO_VAR_ANDROID_MK_LOCAL_CPPFLAGS=$(ECHO_VAR_ANDROID_CPP_COMPILE_OPTIONS)
ECHO_VAR_ANDROID_MK_LOCAL_LDLIBS=-Wl,--undefined=EchoInitialise -ldl -lGLESv1_CM -lGLESv2 -llog -landroid -lOpenSLES -lz
ECHO_VAR_ANDROID_MK_LOCAL_STATIC_LIBRARIES=Echo3 libboost_system libboost_timer libboost_regex libboost_chrono libboost_random libboost_thread libmodplug libvorbisfile libvorbis libogg libpng libprotobuf libfreetype libtmxparser libtinyxml2l libBulletSoftBody libBulletDynamics libBulletCollision libLinearMath libopenal libturbojpeg libjpeg libtls
