ECHO_VAR_DEBUG_INCLUDE_DIRS=-Iinclude -I"${ECHO_ENGINE_INSTALL_DIR}/include" -I"${ECHO_ENGINE_INSTALL_DIR}/include/generated" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/linux/include" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/linux/include/bullet" $$(pkg-config --cflags gtkmm-2.4 gtkglextmm-1.2 sigc++-2.0 freetype2 libmodplug ogg)

ECHO_VAR_DEBUG_PREPROCESSOR=-DECHO_PLATFORM_LINUX -DBT_USE_DOUBLE_PRECISION

ECHO_VAR_DEBUG_C_COMPILE_OPTIONS=${ECHO_VAR_DEBUG_INCLUDE_DIRS} ${ECHO_VAR_DEBUG_PREPROCESSOR}
ECHO_VAR_DEBUG_CPP_COMPILE_OPTIONS=${ECHO_VAR_DEBUG_C_COMPILE_OPTIONS}

ECHO_VAR_DEBUG_LIB_DIRS=-L"${ECHO_ENGINE_INSTALL_DIR}/dist/${CND_CONF}/${CND_PLATFORM}" -L"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/linux/lib"

ECHO_VAR_DEBUG_LIB_RUN_DIRS=-Wl,-rpath,"." -Wl,-rpath,"./libs" -Wl,-rpath,"${ECHO_ENGINE_INSTALL_DIR}/dist/${CND_CONF}/${CND_PLATFORM}" -Wl,-rpath,"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/linux/lib"

ECHO_VAR_DEBUG_LIBS=-lecho3 -ltmxparser -ltinyxml2 -lpng -lboost_system -lboost_filesystem -lboost_timer -lboost_thread -lboost_chrono -lboost_regex -lboost_random `pkg-config --libs protobuf libmodplug vorbis gl gtkmm-2.4 gtkglextmm-1.2 sigc++-2.0 ogg openal glew vorbisfile` -lBulletSoftBody -lBulletDynamics -lBulletCollision -lLinearMath -ldl -lturbojpeg -ltls -lssl -lcrypto -ljpeg -lz
ECHO_VAR_DEBUG_ADDITIONAL_LIB_OPTIONS=

ECHO_VAR_DEBUG_LIB_OPTIONS=${ECHO_VAR_DEBUG_LIB_DIRS} ${ECHO_VAR_DEBUG_LIB_RUN_DIRS} ${ECHO_VAR_DEBUG_ADDITIONAL_LIB_OPTIONS}
