ECHO_VAR_WII_INCLUDE_DIRS=-Iinclude -I"${ECHO_ENGINE_INSTALL_DIR}/include" -I"${ECHO_ENGINE_INSTALL_DIR}/include/generated" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/wii/include/freetype2" -I"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/wii/include" -I"${DEVKITPRO}/libogc/include"
ECHO_VAR_WII_PREPROCESSOR=-DBOOST_REGEX_NO_LIB -DECHO_PLATFORM_NINTENDO_WII -DGEKKO -DGOOGLE_PROTOBUF_NO_THREAD_SAFETY
ECHO_VAR_WII_ADDITIONAL_INCLUDE_OPTIONS=

ECHO_VAR_WII_C_COMPILE_OPTIONS=${ECHO_VAR_WII_INCLUDE_DIRS} ${ECHO_VAR_WII_PREPROCESSOR} ${ECHO_VAR_WII_ADDITIONAL_INCLUDE_OPTIONS}
ECHO_VAR_WII_CPP_COMPILE_OPTIONS=${ECHO_VAR_WII_C_COMPILE_OPTIONS}

ECHO_VAR_WII_LIB_DIRS=-L"${ECHO_ENGINE_INSTALL_DIR}/dependencies/opt/wii/lib" -L"${ECHO_ENGINE_INSTALL_DIR}/dist/Wii/devkitPPC-Linux" -L"${DEVKITPRO}/libogc/lib/wii"
ECHO_VAR_WII_LIBS=-lecho3 -ltmxparser -ltinyxml2 -lboost_system -lboost_regex -lpng -lz -lprotobuf -lmodplug -lfreetype -lvorbisfile -lvorbis -logg -lwiiuse -lbte -lfat -logc -ldb -lm	-lecho3 -lboost_system -lboost_regex -lpng -lz -lprotobuf -lmodplug -lfreetype -lvorbisfile -lvorbis -logg -lwiiuse -lbte -lfat -logc -ldb -lm	-lecho3 -lboost_system -lboost_regex -lpng -lz -lprotobuf -lmodplug -lfreetype -lvorbisfile -lvorbis -logg -lwiiuse -lbte -lfat -logc -ldb -lm -lBulletSoftBody -lBulletDynamics -lBulletCollision -lLinearMath -lturbojpeg -ljpeg
ECHO_VAR_WII_ADDITIONAL_LIB_OPTIONS=-mrvl -mcpu=750 -meabi -mhard-float

ECHO_VAR_WII_LIB_OPTIONS=${ECHO_VAR_WII_LIB_DIRS} ${ECHO_VAR_WII_ADDITIONAL_LIB_OPTIONS}
